<ion-view title="{{header}}" ng-show="action_step=='chooseTime'">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3 id="page4-heading1" style="color:#000000;">กรุณาเลือกรอบรถ</h3>
        <ion-list></ion-list>
        <ion-list></ion-list>
        <ion-list></ion-list>
        <div id="page4-markdown1" style="color:#000000;">
            <p>สามารถจองได้ หลายที่นั่ง ต่อ 1 ครั้งการจอง</p>
        </div>
        <form class="list" ng-show="road=='out'">
            <label class="item item-select">
                <span class="input-label">ปลายทาง</span>
                <select id="route_select" name="route_select" ng-model="route_select" ng-change="routeChange(route_select)">
                    <option value="0">กรุณาเลือก ปลายทาง</option>
                    <option value="{{runningTime[0][0].route_id}}">{{runningTime[0][0].destination}}</option>
                    <option value="{{runningTime[0][1].route_id}}">{{runningTime[0][1].destination}}</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">เวลา</span>
                <select id="time" name="time" ng-model="time" ng-show="route_select > 0" ng-change="timeChange(time)" ng-options="t[route_select-1].route_id+','+t[route_select-1].running_time_id+','+t[route_select-1].time+','+t[route_select-1].origin+','+t[route_select-1].destination+','+(10-t[route_select-1].sum) as t[route_select-1].time+' มี '+(10-t[route_select-1].sum)+' ที่นั่ง' for t in runningTime | filter: filterTime(route_select) ">
                    <option value="">กรุณาเลือกเวลา</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">จำนวนที่นั่ง</span>{{seatsAvaliable}}
                <select id="seats" name="seats" ng-model="seats" ng-show="time != '' && seatsAvaliable > 0" ng-options="page for page in Range(1, seatsAvaliable)">
                    <option value="">กรุณาเลือกจำนวนที่นั่ง</option>
                </select>
            </label>
        </form>

        <form class="list" ng-show="road=='in'">
            <label class="item item-select">
                <span class="input-label">ต้นทาง</span>
                <select id="route_select" name="route_select" ng-model="route_select" ng-change="routeChange(route_select)">
                    <option value="0">กรุณาเลือก ต้นทาง</option>
                    <option value="{{runningTime[0][0].route_id}}">{{runningTime[0][0].origin}}</option>
                    <option value="{{runningTime[0][1].route_id}}">{{runningTime[0][1].origin}}</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">เวลา</span>
                <select id="time" name="time" ng-model="time" ng-show="route_select > 0" ng-change="timeChange(time)" ng-options="t[route_select-3].route_id+','+t[route_select-3].running_time_id+','+t[route_select-3].time+','+t[route_select-3].origin+','+t[route_select-3].destination+','+(10-t[route_select-3].sum) as t[route_select-3].time+' มี '+(10-t[route_select-3].sum)+' ที่นั่ง' for t in runningTime | filter: filterTime(route_select)">
                    <option value="">กรุณาเลือกเวลา</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">จำนวนที่นั่ง</span>
                <select id="seats" name="seats" ng-model="seats" ng-show="time != '' && seatsAvaliable > 0" ng-options="page for page in Range(1, seatsAvaliable)">
                    <option value="">กรุณาเลือกจำนวนที่นั่ง</option>
                </select>
            </label>
        </form>

        <button id="page4-button6" class="button button-positive  button-block" ng-click="takeStep3(time, seats)">จองที่นั่ง</button>
        <div id="page4-markdown2" style="color:#000000;">
            <p>
                <strong>หมายเหตุ</strong>ถ้ารอบที่ต้องการจองไม่ปรากฎในหน้าจอ แสดงว่ารอบดังกล่าวเต็มแล้ว</p>
        </div>
    </ion-content>
</ion-view>

<ion-view title="{{header}}" ng-show="action_step=='confirm'">
    <ion-content class="has-header">
        <div ng-show="bookingData.status == 'confirmed'">
            <ion-item>
                <div class="card">
                    <div class="item item-divider">
                        คุณจองตั๋วรถเรียบร้อยแล้ว
                    </div>
                    <div class="item item-text-wrap">
                        เส้นทาง {{origin}} -> {{destination}}
                        <br /> เวลาเดินรถ {{time}}
                        <br /> จำนวน {{seats}} ที่นั่ง
                        <br /> รหัสยืนยัน 5 หลัก {{bookingData.token}}
                        <br/>
                    </div>
                    <div class="item item-divider">
                        <p>กรุณา Capture หน้าจอนี้เพื่อใช้ยืนยันกับพนักงานขับรถ</p>
                    </div>
                </div>
            </ion-item>
        </div>
        <div ng-show="bookingData.status == 'error101'">
            ไม่สามารถจองที่นั่งได้ กรุณาลองใหม่อีกครั้ง
        </div>
        <div ng-show="bookingData.status == 'error102'">
            <!--No available seat-->
            {{bookingData.message}}
        </div>
    </ion-content>
</ion-view>

<ion-view title="{{header}}" ng-show="action_step=='show-reserved-data'">
    <ion-content class="has-header">
        <div ng-show="reservedData != 0">
            รายละเอียด
            <br />

            <ion-item ng-repeat="data in reservedData">
                วันที่จอง {{data.confirmedDate}}
                <br /> เส้นทาง {{data.origin}} -> {{data.destination}}
                <br /> เวลาเดินรถ {{data.time}}
                <br /> จำนวน {{data.seats}} ที่นั่ง
                <br /> รหัสยืนยัน 5 หลัก {{data.token}}

            </ion-item>
        </div>
        <div ng-show="reservedData == 0">

            <div class="card">
                <div class="item item-text-wrap">
                    คุณยังไม่ได้ทำการจอง
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
