<ion-view title="Detail">
  <ion-content class="has-header">
      <ion-item ng-repeat="car in cars">
          {{car.car_id}}.{{car.car_name}} <br/>
          {{car.routeline_type}} <br/>
          อัพเดทล่าสุด: {{car.tracking_datetime}}
       </ion-item>
      <ul class="list color-list-demo">
        <li class="item balanced">
          สายสีเขียว : ซอยงามดูพลี
          <span class="color-demo balanced-bg balanced-border"></span>
        </li>
        <li class="item assertive">
          สายสีส้ม : ซอยนราธิวาส
          <span class="color-demo assertive-bg assertive-border"></span>
        </li>
      </ul>
  </ion-content>
</ion-view>

