<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="ตำแหน่งรถ" icon="ion-android-car" href="#/tab/map">
            <ion-nav-view name="tab-map"></ion-nav-view>
        </ion-tab>
        <ion-tab title="รายละเอียด" icon="ion-ios-information" href="#/tab/details">
            <ion-nav-view name="tab-details"></ion-nav-view>
        </ion-tab>
        <ion-tab title="จองรถ" icon="ion-ios-checkmark" href="#/tab/booking_route">
            <ion-nav-view name="tab-booking"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
