<ion-view title="เลือก เข้า-ออก">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a href="#/tab/booking_time/1" id="page3-button5" style="font-weight:bold;color:#1D364E;" class="button button-balanced  button-block icon-left ion-android-arrow-dropright">เข้า</a>
        <a href="#/tab/booking_time/2" id="page3-button2" style="font-weight:bold;color:#1D364E;" class="button button-energized  button-block icon-right ion-android-arrow-dropright">ออก</a>
        <div style="text-align:center;">
            <img src="img/asV6ekLQsOOAFdSU7S9A_sss.jpg" width="100%" height="auto">
        </div>
        <ion-list></ion-list>
    </ion-content>
</ion-view>
