<ion-view title="{{header}}" ng-show="action_step!='confirm'">
    <ion-content overflow-scroll="true" padding="true" class="has-header" >
        <h3 id="page4-heading1" style="color:#000000;">กรุณาเลือกรอบรถ</h3>
        <ion-list></ion-list>
        <ion-list></ion-list>
        <ion-list></ion-list>
        <div id="page4-markdown1" style="color:#000000;">
            <p>สามารถจองได้ 1 ที่นั่ง ต่อ 1 ครั้งการจอง</p>
        </div>
        <form class="list" ng-show="road=='out'">
            <label class="item item-select">
                <span class="input-label">ปลายทาง</span>
                <select id="route_select" name="route_select" ng-model="route_select">
                    <!--<option value="0" selected>กรุณาเลือก ปลายทาง</option>-->
                    <option value="{{runningTime[0][0].route_id}}">{{runningTime[0][0].destination}}</option>
                    <option value="{{runningTime[0][1].route_id}}">{{runningTime[0][1].destination}}</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">เวลา</span>
                <select id="time" name="time" ng-model="time" ng-show="route_select > 0"
                        ng-options="t[route_select-1].route_id+','+t[route_select-1].running_time_id+','+t[route_select-1].time+','+t[route_select-1].origin+','+t[route_select-1].destination as t[route_select-1].time+' มี '+(10-t[route_select-1].count)+' ที่นั่ง' for t in runningTime" >
                    <option value="">กรุณาเลือกเวลา</option>
                </select>
            </label>
        </form>

        <form class="list" ng-show="road=='in'">
            <label class="item item-select">
                <span class="input-label">ต้นทาง</span>
                <select id="route_select" name="route_select" ng-model="route_select">
                    <!--<option value="0" selected>กรุณาเลือก ต้นทาง</option>-->
                    <option value="{{runningTime[0][0].route_id}}">{{runningTime[0][0].origin}}</option>
                    <option value="{{runningTime[0][1].route_id}}">{{runningTime[0][1].origin}}</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">เวลา</span>
                <select id="time" name="time" ng-model="time" ng-show="route_select > 0"
                        ng-options="t[route_select-3].route_id+','+t[route_select-3].running_time_id+','+t[route_select-3].time+','+t[route_select-3].origin+','+t[route_select-3].destination as t[route_select-3].time+' มี '+(10-t[route_select-3].count)+' ที่นั่ง' for t in runningTime" >
                    <option value="">กรุณาเลือกเวลา</option>
                </select>
            </label>
        </form>

        <button id="page4-button6" class="button button-positive  button-block" ng-click="takeStep3(time)">จองที่นั่ง</button>
        <div id="page4-markdown2" style="color:#000000;">
            <p>
                <strong>หมายเหตุ</strong>ถ้ารอบที่ต้องการจองไม่ปรากฎในหน้าจอ แสดงว่ารอบดังกล่าวเต็มแล้ว</p>
        </div>
    </ion-content>
</ion-view>

<ion-view title="{{header}}" ng-show="action_step=='confirm'">
    <ion-content class="has-header" >
        <div ng-show="bookingData.status == 'confirmed'">
            คุณจองตั๋วรถเรียบร้อยแล้ว
            <br />

            <ion-item>
                เส้นทาง
                {{origin}} -> {{destination}} <br />
                เวลา
                {{time}} <br />
                รหัสยืนยัน 5 หลัก
                {{bookingData.token}}

            </ion-item>
        </div>
        <div ng-show="bookingData.status == 'error101'">
        ไม่สามารถจองที่นั่งได้ กรุณาลองใหม่อีกครั้ง
        </div>
        <div ng-show="bookingData.status == 'error102'">
            <!--No available seat-->
            {{bookingData.message}}
        </div>
    </ion-content>
</ion-view>
