<ion-view title="Cars">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/wePRCJJuQaG5NMAi0WQw_File_000.jpeg" width="100%" height="auto">
        </div>
    </ion-content>
</ion-view>
