<ion-view scroll="false" title="แผนที่">
      <map on-create="mapCreated(map)"></map>
</ion-view>

<!--
<ion-view title="Cars">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <map on-create="mapCreated(map)"></map>
        </div>
    </ion-content>
</ion-view>
-->
