<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
        test
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Map Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Details Tab -->
  <ion-tab title="รายละเอียดรถ" icon-off="ion-ios-information-empty" icon-on="ion-ios-information-outline" href="#/tab/details">
    <ion-nav-view name="tab-details"></ion-nav-view>
  </ion-tab>

    <!-- Booking Tab -->
    <ion-tab title="รายละเอียดรถ" icon-off="ion-ios-information-empty" icon-on="ion-ios-information-outline" href="#/tab/booking_route">
        <ion-nav-view name="tab-booking"></ion-nav-view>
    </ion-tab>



</ion-tabs>
