<ion-view title="Booking">
  <ion-content class="has-header" ng-show="action_step==1">
    <!--<div ng-show="action_step==1">-->
          กรุณาเลือกเส้นทาง
          <br />
          <ion-item ng-repeat="route in routes">
             <a href="" ng-click="takeStep2(route.id)"> ({{route.id}})  {{route.destination}}</a>
          </ion-item>
  </ion-content>

  <ion-content class="has-header" ng-show="action_step==2">
      กรุณาเลือกเวลาเดินรถ
      <br />
      <ion-item ng-repeat="runs in runningTime">
          <div ng-repeat="run in runs">
            <a ng-show="run.count < 10" href="" ng-click="takeStep3(run.running_time_id, run.route_id, run.time, run.destination)"> (รอบที่ {{run.id}}) เวลา {{run.time}} สาย {{run.destination}} <span ng-show="run.count < 10">ที่ว่าง {{10 - run.count}} ที่นั่ง</span><span ng-show="run.count >= 10">เต็ม</span></a>
            <span ng-show="run.count >= 10" href="" ng-click="takeStep3(run.running_time_id, run.route_id, run.time, run.destination)"> (รอบที่ {{run.id}}) เวลา {{run.time}} สาย {{run.destination}} <span ng-show="run.count < 10">ที่ว่าง {{10 - run.count}} ที่นั่ง</span><span ng-show="run.count >= 10">เต็ม</span></span>
          </div>
      </ion-item>
  </ion-content>

  <ion-content class="has-header" ng-show="action_step==4">
      <div ng-show="bookingData.status == 'confirmed'">
      คุณจองตั๋วรถเรียบร้อยแล้ว
      <br />

      <ion-item>
          เส้นทาง
          {{destination}} <br />
          เวลา
          {{time}} <br />
          รหัสยืนยัน 5 หลัก
          {{bookingData.token}}

      </ion-item>
      </div>
      <div ng-show="bookingData.status == 'error101'">
          ไม่สามารถจองที่นั่งได้ กรุณาลองใหม่อีกครั้ง
      </div>
  </ion-content>
</ion-view>

