/* Empty. Add your own CSS if you like */

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}

h1.title {
    text-align: center !important;
}
.platform-android .tabs {
    top:auto;
    bottom: 0;
}

.platform-android .has-tabs-top {
    top: auto;
}
.platform-android .has-header {
    top: 44px;
}
